body {
	font-size: large;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	background-color: #A8E1FF;
	text-align: center;
}

h1 {
	font-size: 4.3em;
	color: #3B647A;
	margin: .2em 0;
}

a {
	font-family: Courier, Lucida, Everson Mono, Consolas;
	font-size: 1.4em;
	text-decoration: none;
	color: #3B647A;
}

a:visited {
	color: #3B647A;
}

a:hover {
	color: #1F2E36;
}

a:active {
	color: #4EB9F2;
}

.tweet {
	margin: 1em 0;
}

.timestamp {
	font-size: .7em;
	color: #808080;
}

.user {
	color: #537091;
}

.following {
	list-style: none;
	margin: .4em;
	color: #537091;
	font-size: .9em;
	cursor: pointer;
}

#stream {
	width: 900px;
	text-align: left;
	float: left;
}

#nav {
	text-align: left;
	float: left;
	width: 100px;
	height: 780px;
	margin: 0 3em;
}

#home {
	text-align: left;
	margin: 1em 0;
	cursor: pointer;
}

#inputContainer {
	margin: 0 0 1.2em 0;
}

